@import "_normalize";

@mixin widthContent($MW, $W, $TB) {
  max-width: $MW;
  width: $W;
  margin: $TB auto;
}

$black: #262626;
$white: #ffffff;
$yellow: #f0c518;
$gray:#f2f2f2;
$grayDark: #d1cdc9;
$blue: #90BDC2;
$blueDark: #284C58;

.page{
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px;
  background-color: $gray;
  box-sizing: border-box;
  padding: 20px;
}
.header{
  width: 100%;
  height: 60px;
  background-color: $blue;
  margin: 0 auto 20px;
}
.main-wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main{
  width: 100%;
  max-width: 400px;
  margin: 0;
}
.main--margin{
  margin: 0 10px;
}
.main__block{
  background-color: $grayDark;
  width: 100%;
  height: 200px;
  margin: 0 auto 20px;
}
.main__block:last-child{
  margin-bottom: 0;
}
.aside{
  width: 100%;
  max-width: 145px;
  margin: 0;
}
.aside__block{
  height: 150px;
  width: 145px;
  background-color: $yellow;
  margin: 0 auto;
}
.aside__block:first-child{
  margin-bottom: 20px;
}
.footer{
  width: 100%;
  height: 60px;
  background-color: $blueDark;
  margin: 20px auto 0;
}

@media screen and (max-width: 635px){
  .main-wrap{
    display: block;
  }
  .main{
    max-width: 100%;
  }
  .main--margin{
    margin: 0 auto;
  }
  .main__block:last-child{
    margin-bottom: 20px;
  }
  .aside{
    max-width: 100%;
    margin: 0 auto 20px;
  }
  .aside__block{
    width: 100%;
  }
}